
  
  .img1 {
    /* border: 5px solid red; */
    margin-left: 1px;
    display: flex;
    margin-top: 0;
    margin-left: 4rem;
    align-self: flex-start;
    width: 5rem;
  }
  
 
  
  /* .buttondiv{
    border: 5px solid yellow;
    width: 100%;
    display: flex;
    flex-direction: column;
    height: 136px;
    gap: 1rem;
    margin-top: 25px;
  }
   */

  
  
  .p1 {
    /* border: 5px solid blue; */
    color: rgb(177, 176, 176);
    display: flex;
    width: 50%;
    height: 35px;
    font-size: 30px;
    font-weight: 600;
    justify-content: center;
    margin-left: 9rem;
    margin-bottom: 1px;
  }
  
  .p3{
    /* border: 5px solid red; */
    width: 280px;
    display: flex;
    flex-direction: row;
    gap: 8px;
    margin-top: 30px;
    }
  
  .p3child{
      color: rgb(128, 10, 128);
    }
  
  h3{
    color: white;
  }
  
  p{
    color: white;
  }
  
  
  