main.mainStyle {
    /* border: 5px solid yellow; */
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #11001E;
}
main header .imageDiv {
    width: 100%;
    height: 98px;
    display: flex;
    align-items: center;
    padding-left: 76px;
    color: #ffff;
    border: 3px solid lime;
}

main header.imageDiv img {
    width: 98px;
    height: 98px;
    align-self: flex-start;
}
 header.navStyle{
    display: flex;
    flex-direction: row;
    width: 100%;
    border: 5px solid red;
 } 
 .listStyle{
    display: flex;
    flex-direction: row;
    list-style: none;
    color: #ffff;
    border: 3px solid rgb(43, 255, 0);
}
.navIcons{
    color: #ffff;
}
.formWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 70%;
    /* border: 5px solid peru; */
}
.formWrapper form{
    display: flex;
    flex-direction: column;
    /* border: 5px solid pink; */
    align-items: center;
    justify-content: center;
    width: 628px;
    gap: 30px;
}

.topheading h2 {   
    font-size: 36px;
    font-weight: 700;
    line-height: 44px;
    color: #FFFFFF;
    text-align: center;
}

.topheading p {
    font-size: 16px;
    font-weight: 80;
    color: #B5AEB5;
}

.emailHeading{
    /* border: 5px solid red; */
    margin-top: 30px;
    color: #B5AEB5;
    display: flex;
    font-size: 20px;
    justify-content: center;
}

.formContainer {
    /* border: 5px solid yellow; */
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 10px;
}

.formFooter{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.p3 {
    color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.p3child {
    color: rgb(247, 7, 247);
}
.passwordEye img{
    position: fixed;
    right: 26%;
    top: 63%;
}
#forgotPassword {
    color: #FF604B;
    font-size: 12px;
    font-weight: 200;
    line-height: 16px;
    justify-content: right;
}
.emailMain {
    background-color: #41334B;
    /* border: 5px solid orange; */
    width: 100%;
    height: 100vh;
  }
  
  .verify-container{
    /* border: 5px solid red; */
    width: 40%;
    margin: auto;
    background-color: #11001E;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 70%;
  }

  .verify-container2 {
    /* border: 5px solid blue; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 100%;
    gap: 1rem;
  }
  
  .vector {
    /* border: 5px solid red; */
    color: white;
    width: 20px;
    height: 20px;
    display: flex;
    align-self: flex-end;
    margin-right: 10px;
    margin-top: 5px;
  }

  .div1{
    /* border: 5px solid rgb(180, 247, 65); */
    gap: 1rem;
    width: 80%;
    height: 15rem;
    display: flex;
    color: white;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .img1 {
    /* border: 5px solid red; */
    margin-left: 1px;
    display: flex;
    margin-top: 0;
    margin-left: 4rem;
    align-self: flex-start;
    width: 5rem;
  }