button.buttonStyle {
  /* border: 5px solid red; */
  height: 56px;
  cursor: pointer;
  color: #ffff;
  background-image: linear-gradient(to right, #C83CD4, #6736A6);
  margin-top: 10px;
}

input {
  background-color: #605468;
  height: 54px;
  width: 100%;
}

.inputgap{
  /* border: 5px solid green; */
  gap: 20px;
  display: flex;
  flex-direction: column;
}
.socialButtons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 100px;
  cursor: pointer;
}